.calcu{
    width: 500px;
    height: 550px;
    background: #000000;
    margin-left: 26%;
    margin-top: 50px;
    border-radius: 20px;
}
#screen{
    width: 87%;
    height: 55px;
    margin-left: 6%;
    margin-top: 5%;
    pointer-events: none;
    border: white;
    font-size: 54px;
    border-radius: 20px;
    padding-left: 10px;
}
.row{
    margin-left: 1%;
}
.btn{
    width: 18%;
    height: 60px;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 40px;
    border-radius: 10px;
    transition: 0.3s;
}
.btn:hover{
    background-color: rgb(83, 83, 83);
    color: white;
}
html:focus{
    outline:none; 
}